// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'desirable';
    src: url('../fonts/desirable-sans.ttf');
}
@font-face {
    font-family: 'waybuloo';
    src: url('../fonts/Waybuloo\ Arial/WaybulooArial-Bold.ttf');
}

$pink : rgb(206, 56, 244);

*, *:hover{
    transition: .3s;
}

.navbar-brand{
    font-family: 'desirable', 'Nunito', Arial, Helvetica, sans-serif;
}
.btn-mini{
    padding: 5px;
    font-size: 12px;
}
.btn-purple{
    background: $pink;
    color: white;

    &:hover{
        background: darken($pink, 10);
        color: white;
    }
}



nav.header{

    .navbar-nav{
        align-items: center;
        
        .nav-item{
            height: fit-content;
        }
    }

    .js-change-theme{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 35px;
        overflow: hidden;
        
        .img{
            position: relative;
            top: -20px;
            width: 30px;

            img{
                width: 100%;
                height: 30px;
                margin-bottom: 5px;
    
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }

        &[data-theme="dark"]{
            .img{
                position: relative;
                top: 20px;
            }    
        }

        *{
            transition: .5s;
        }
        
    }
}

footer{
    padding-bottom: 20px;
    position: relative;
    bottom: 0;

    // box-shadow: 0px -6px 6px rgba(0,0,0, 0.075);
    .main{
        padding: 50px 0;
        //background: rgba(2,28,45,1);
        background: rgb(2, 21, 34);
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;

        .bg{
            position: absolute;
            top: -100px;
            left: 0;
            width: 100%;
            height: 200%;
            z-index: 2;

            background-image: url(http://127.0.0.1:5173/public/storage/wifLine.png);
            background-repeat: repeat;
            background-position: left;
            background-size: 60%;

            transform: rotate(-15deg);
            filter: invert(1);
            opacity: 0.05;
        }
        .container{
            z-index: 3;
            position: relative;
        }
    }
}

.banner{
    padding: 30px;
    position: relative;
    font-family: 'waybuloo', Arial, Helvetica, sans-serif;
    z-index: 1;

    img.bg{
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &.banner-centred{
        text-align: center;
    }
    &.banner-1{
        background: linear-gradient(160deg, rgb(186, 49, 255) , rgb(255, 187, 0));
        color: white;

        .btn{
            &:active{
                background: rgb(9, 100, 226);
            }
            
        }
    }
    *{
        z-index: 2;
        position: relative;
    }
}

.modal{
    .modal-header{
        background: linear-gradient(187deg, rgba(219, 122, 26, 0.837) 0% 10%, rgba(44, 159, 24, 0.782) 60%);
        color: white;
        
        .btn-close{
            filter: invert(1);
        }
    }
}

#system-alert{
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    width: 50%;
    min-width: 200px;
    margin: 0px auto;
}

.services_auth{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;

    p{
        margin: 0;
        text-align: right;
    }

    .services{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        // margin-left: 10px;


        a{
            // max-width: 32px;
            // max-height: 32px;

            img{
                height: 32px;
                object-fit: contain;
            }
        }
    }
}